body{
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
}
.section-style1{
    display: flex;
}
.section-style1 h1{
    font-size: 70px;
    font-weight: 900;
}
.text-color{
    color: orangered;
}
.half-width{
    width: 50%;
    margin: 5% 5%;
    padding: 2% 2%;
}
.half-width img{
    width: 105%;
    padding-right: 10%;
    padding-top: 10%;
}
.half-width h1{
    font-size: 60px;
    font-weight: 900;
}
.button-style{
    background-image: linear-gradient(to right,orange, red);
    margin-top: 10px;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
}
.section-style2{
    display: flex;
    background-image: url(images/background1.png);  
    background-repeat: no-repeat;
}
.img-edit img{
    width: 45%;
    padding-left: 80px;
    margin-left: 100px;
    margin-top: 70px;
}

.text-decoration{
    text-align: center;
    margin: 5px 30px;
}
.border{
    border-radius: 30px;
    box-shadow: 2px 2px 8px 2px rgba(128, 128, 128, 0.397);
    margin: 35px 35px;
}
.border img{
    width: 94%;
    border-radius: 20px;
    margin: 3% 3%;
}
.border h2{
    margin: 3% 3%;
}
.border p{
    margin: 3% 3%;
}
.border2{
    margin-left:160px;
    margin-right: 160px;
    margin-bottom: 30px;
}
.border2 h2{
    font-size: 50px;
    font-weight: 700;
}
.border2 p{
    font-size: 10px;
    font-weight: 300;
    padding-left: 10px;
}
.background-color{
    background-color: rgb(14, 14, 19);
    text-align: center;
    padding: 50px 50px;
}
.text-color2{
    color:white;
}